RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^submissions$ submissions.php [L,QSA]

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
